argcomplete==1.10.0
astroid==2.3.3
beautifulsoup4==4.8.0
chardet==3.0.4
colorama==0.4.3
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
falcon==2.0.0
falcon-cors==1.1.7
falcon-jinja2==0.0.3
IMAPClient==2.1.0
isort==4.3.21
Jinja2==2.10.3
lazy-object-proxy==1.4.3
lxml==4.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
mongoengine==0.18.2
nameparser==1.0.5
nltk==3.4.5
numpy==1.17.4
olefile==0.46
pdfminer.six==20181108
Pillow==6.2.1
pycryptodome==3.9.4
pylint==2.4.4
pymongo==3.9.0
python-pptx==0.6.18
pytz==2019.3
PyYAML==5.2
six==1.12.0
sortedcontainers==2.1.0
soupsieve==1.9.5
SpeechRecognition==3.8.1
textract==1.6.3
typed-ast==1.4.0
tzlocal==1.5.1
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.6
xmltodict==0.12.0
