{% extends 'base.html' %}
{% block content %}

<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>
<article class="content forms-page">
    <div class="title-block">
        <h3 class="title"> Update Country Records </h3>
    </div>
    <section class="row section">
        <div class="sameheight-container">
            <div class="col-md-12 card card-block ">
                <!-- <div class="title-block">
                    <h4>Edit Country</h4>
                    <hr />
                    <b><span style='align-content:center;padding: 145px 420px;width:auto;color:green'
                            id='message'></span></b>
                    <div id="loading"></div>
                </div> -->
                <div>
                    <h4>Edit Country</h4>
                    <hr />
                    <b>
                        <p><span style='align-content:center;padding: 145px 430px;width:auto;color:green'
                                id='message'></span></p>
                    </b>
                    <b>
                        <p><span style='align-content:center;padding: 145px 430px;width:auto;color:red'
                                id='errormessage'></span></p>
                    </b>
                    <span id="loading"></span>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-5 col-centered">
                        <form role="form" id='target'>

                            <div class="sameheight-item">
                                <fieldset class="form-group">
                                    <label class="control-label" for="country_name">Country</label>
                                    <input type="text" class="form-control" id="country_name"
                                        placeholder="Enter Country" name='country_name' value="{{country_name}}">
                                </fieldset>
                                <fieldset class="form-group">
                                    <label class="control-label" for="country_code">Country Code</label>
                                    <input type="text" class="form-control" id="country_code"
                                        placeholder="Enter Country Code" name='country_code' value="{{country_code}}">
                                </fieldset>

                                <fieldset class="form-group">
                                    <label class="control-label" for="desc">Description</label>
                                    <textarea rows="3" class="form-control" id="desc" placeholder="Descrribe Country"
                                        name='desc'>{{desc}}</textarea>
                                    <input type="hidden" name="txn" value="{{country_name}}">

                                </fieldset>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 text-center">
                        <fieldset class="form-group mt-4">
                            <button type="button" id='updsubmit' class="btn btn-info col-md-1">Update</button>
                            <button type="reset" class="btn btn-info col-md-1">Clear</button>
                            <a class="btn btn-info col-md-1" style="text-decoration: none;color:black;"
                                href="{{apptitle}}{{country_url}}">Cancel</a>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}