{% extends 'base.html' %}
{% block content %}
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>
<article class="content forms-page">
    <section class="row section">
        <div class="sameheight-container">
            <div class="col-md-12 card card-block ">
                <!-- <div class="title-block">
                    <h4>Education Records</h4>
                    <hr />
                    <b><span style='align-content:center;padding: 145px 420px;width:auto;color:green'
                            id='message'></span></b>
                    <div id="loading"></div>
                </div> -->
                <div>
                    <h4>Education Records</h4>
                    <hr />
                    <b>
                        <p><span style='align-content:center;padding: 145px 430px;width:auto;color:green'
                                id='message'></span></p>
                    </b>
                    <b>
                        <p><span style='align-content:center;padding: 145px 430px;width:auto;color:red'
                                id='errormessage'></span></p>
                    </b>
                    <span id="loading"></span>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-5 col-centered">
                        <form role="form" id='target'>
                            <div class="sameheight-item">
                                <fieldset class="form-group">
                                    <label class="control-label" for="qualification">Qualification</label>
                                    <input type="text" class="form-control" id="qualification"
                                        placeholder="Enter Qualification" name='qualification'>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label class="control-label" for="specialisation">Specialisation</label>
                                    <input type="text" class="form-control" id="specialisation"
                                        placeholder="Enter your specialisation" name='specialisation'>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label class="control-label" for="university">University</label>
                                    <input type="text" class="form-control" id="university"
                                        placeholder="Enter university" name='university'>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label class="control-label" for="qualification_description">Qualification
                                        Description</label>
                                    <textarea rows="3" class="form-control" id="qualification_description"
                                        placeholder="Descrribe Qualification"
                                        name='qualification_description'></textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12 text-center">
                                <Br>
                                <fieldset class="form-group mt-12">
                                    <button type="button" id='submit' class="btn btn-info col-md-2">Add</button>
                                    <button type="reset" class="btn btn-info col-md-2">Clear</button>
                                    <a class="btn btn-info col-md-2" style="text-decoration: none;color:black;"
                                        href="{{apptitle}}{{educationprofile_url}}">cancel</a>
                                </fieldset>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </section>
</article>
{% endblock %}