{% extends 'base.html' %}
{% block content %}
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>
<article class="content forms-page">
    <div class="title-block">
        <h3 class="title"> Create New FeedBack </h3>
    </div>
    <section class="row section">
        <div class="sameheight-container">
            <div class="col-md-12 card card-block ">
                <!-- <div class="title-block">
                    <h4>Feedback List</h4>
                    <hr />
                    <b><span style='align-content:center;padding: 145px 340px;width:auto;color:green'
                            id='message'></span></b>
                    <div id="loading"></div>
                </div> -->
                <div>
                    <h4>Feedback List</h4>
                    <hr />
                    <b>
                        <p><span style='align-content:center;padding: 80px 380px;width:auto;color:green'
                                id='message'></span></p>
                    </b>
                    <b>
                        <p><span style='align-content:center;padding: 80px 380px;width:auto;color:red'
                                id='errormessage'></span></p>
                    </b>
                    <span id="loading"></span>
                </div>
                <form role="form" id='target'>

                    <div class="row justify-content-md-center">

                        <div class="col-md-5 col-centered">
                            <div class="sameheight-item">

                                <fieldset class="form-group">
                                    <label class="control-label" for="jobcode">Job
                                        Code</label>
                                    <select class="form-control" id="jobcode" name="job">
                                        <option value="">---Select---</option>
                                        {{ job_options }}
                                    </select>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label class="control-label" for="Candidate">Candidate</label>
                                    <select class="form-control" name='Candidate' id='Candidate'>
                                        <option value="">---Select---</option>
                                    </select>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label class="control-label" for="round_number">Round
                                        Number</label>
                                    <select name="round_number" id="round_number">
                                        <option value='---Select---'>---Select---</option>
                                    </select>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label class="control-label" for="interview_feedback">Interview
                                        Feedback</label>
                                    <textarea rows="2" class="form-control" id="interview_feedback"
                                        placeholder="Interview FeedBack" name="interview_feedback"></textarea>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-5 col-centered">
                            <div class="sameheight-item">
                                <fieldset class="form-group">
                                    <label class="control-label" for="interview_type">Interview
                                        Type</label>
                                    <span id='select_interview_type'></span><select name="interview_type"
                                        class="form-control" id="interview_type" placeholder="Select Interview Type">
                                        <option value="">---Select---</option>
                                    </select>
                                    </span>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label class="control-label" for="next_round">Next
                                        Round</label>
                                    <select name="next_round" class="form-control" id="next_round">
                                        <option value="">---Select---</option>
                                        {{next_round_options}}
                                    </select>
                                </fieldset>
                                <fieldset class=" form-group">
                                    <label class="control-label" for="jd">Reference
                                        Document</label>
                                    <input type="file" name="jd" class="form-control" id="jd"
                                        placeholder="reference_attachment">
                                </fieldset>
                                <!-- <fieldset class=" form-group">
                                <label class="control-label" for="image">Candidate Image</label>
                                <input type="file" name="image" class="form-control" id="image" placeholder="Image">
                            </fieldset> -->
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <fieldset class="form-group mt-4">
                                <button type="button" id='submit' class="btn btn-info col-md-1">Add</button>
                                <button type="reset" class="btn btn-info col-md-1">Clear</button>
                                <a class="btn btn-info col-md-1" style="text-decoration: none;color:black"
                                    href="{{apptitle}}{{feedback_url}}">cancel</a>
                            </fieldset>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
</article>
{% endblock %}