{% extends 'base.html' %}
{% block content %}
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>
<article class="content responsive-tables-page">

    <div class="title-block">
        <h1 class="title"> Pre-Screening </h1>
    </div>
    <form role="form" id='target'>
        <section class="section">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title-block">
                                <h3 class="title"> Pre-Screening List</h3>
                            </div>
                            <section class="example">
                                <div class="table-responsive">
                                    <table id="data"
                                        class="table table-striped table-bordered table-hover flip-content">
                                        <b><span style='align-content:center;padding: 145px 340px;width:auto;color:green'
                                                id='message'></span></b>
                                        <div id="loading"></div>
                                        <thead class="flip-header">
                                            <tr>
                                                <th>JobCode</th>
                                                <th>Candidate Name</th>
                                                <th>Candidate Email</th>
                                                <th>Candidate Phone</th>
                                                <th>Candidate Primary Skill</th>
                                                <th>JD Preview</th>
                                                <th>Resume Preview</th>
                                                <th>Shortlist Status</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <input type="hidden" name='comment' id='comment' value=''>
        <input type="hidden" name='status' id='status' value=''>
    </form>
</article>
{% endblock %}