{% extends 'base.html' %}
{% block content %}
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>
<article class="content forms-page">
    <div class="title-block">
        <h3 class="title">Update Skill</h3>
    </div>
    <section class="row section">
        <div class="sameheight-container">
            <div class="col-md-12 card card-block ">
                <!-- <div class="title-block">
                    <h4> Update Description </h4>
                    <hr />
                    <b><span style='align-content:center;padding: 145px 500px;width:auto;color:green'
                            id='message'></span></b>
                    <div id="loading"></div>
                </div> -->
                <div>
                    <h4>Update Details</h4>
                    <hr />
                    <b>
                        <p><span style='align-content:center;padding: 145px 420px;width:auto;color:green'
                                id='message'></span></p>
                    </b>
                    <b>
                        <p><span style='align-content:center;padding: 145px 430px;width:auto;color:red'
                                id='errormessage'></span></p>
                    </b>
                    <span id="loading"></span>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-5 col-centered">
                        <div class="sameheight-item">
                            <form role="form" id='target'>
                                <fieldset class="form-group">
                                    <label class="control-label" for="skill_name">Skill Name</label>
                                    <input type="text" class="form-control" id="skill_name"
                                        placeholder="Enter SkillName" name='skill_name' value="{{skill_name}}">
                                </fieldset>
                                <fieldset class="form-group">
                                    <label class="control-label" for="skill_desc">Skill Description</label>
                                    <textarea rows="3" class="form-control" id="skill_desc" placeholder="Describe Skill"
                                        name='skill_desc'>{{skill_desc}}</textarea>
                                </fieldset>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <fieldset class="form-group mt-4"><input type="hidden" name='txn' value="{{skill_name}}">
                            <button type="button" id='updsubmit' class="btn btn-info col-md-1">Update</button>
                            <button type="reset" class="btn btn-info col-md-1">Clear</button>
                            <a class="btn btn-info col-md-1" style="text-decoration: none;color:black;"
                                href="{{apptitle}}{{skillprofile_url}}">Cancel</a>
                        </fieldset>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock%}