{% extends 'base.html' %}
{% block content %}
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>
<article class="content forms-page">
    <div class="title-block">
        <h3 class="title"> Post New State Records </h3>
    </div>
    <section class="row section">
        <div class="sameheight-container">
            <div class="col-md-12 card card-block ">
                <!-- <div class="title-block">
                    <h4>State Records</h4>
                    <hr />
                    <b><span style='align-content:center;padding: 145px 440px;width:auto;color:green'
                            id='message'></span></b>
                    <div id="loading"></div>
                </div> -->
                <div>
                    <h4>State Records</h4>
                    <hr />
                    <b>
                        <p><span style='align-content:center;padding: 145px 400px;width:auto;color:green'
                                id='message'></span></p>
                    </b>
                    <b>
                        <p><span style='align-content:center;padding: 145px 400px;width:auto;color:red'
                                id='errormessage'></span></p>
                    </b>
                    <span id="loading"></span>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-5 col-centered">
                        <div class="sameheight-item">
                            <form role="form" id='target'>
                                <fieldset class="form-group">
                                    <label class="control-label" for="inputState">Country</label>
                                    <select class="form-control" id="inputState" name='country_name'>
                                        <option value="none">---Select---</option>
                                        {% for obj in countryobj %}
                                        <option value="{{ obj.country_name }}">{{ obj.country_name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                                <fieldset>
                                    <label class="control-label" for="state_name">State
                                    </label>
                                    <input type="text" class="form-control" id="state_name" placeholder="Enter State"
                                        name="state_name">
                                </fieldset>
                                <fieldset class="form-group">
                                    <label class="control-label" for="state_desc">Description</label>
                                    <textarea rows="3" class="form-control" id="state_desc" placeholder="Describe State"
                                        name='state_desc'></textarea>
                                </fieldset>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <fieldset class="form-group mt-4">
                            <button type="button" id='submit' class="btn btn-info col-md-1">Add</button>
                            <button type="reset" class="btn btn-info col-md-1">Clear</button>
                            <a class="btn btn-info col-md-1" style="text-decoration: none;color:black;"
                                href="{{apptitle}}{{state_url}}">Cancel</a>
                        </fieldset>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}